<div id="accordian">
    <ul>
        <li>
            <h4><a href="home"><i class="material-icons md-18">home</i>Inicio</a></h4>
        </li>
        <br>
        <li>
            <h3><i class="material-icons md-18">star</i> Destacado</h3>
            <ul class="items-menu">
                <li><a href="conductores">Conductores</a></li>
                <li><a href="GPActual">Campeonato</a></li>
                <li><a href="resultados">Resultados</a></li>
                <li><a href="williams">Williams</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">emoji_events</i> Campeonatos</h3>
            <ul class="items-menu">
                <li><a href="campeonatoConstructores">Constructores</a></li>
                <li><a href="campeonatoConductores">Conductores</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">public</i> Equipos</h3>
            <ul class="items-menu">
                <li><a href="alpine"><img src="images/paises/in.png">Alpine</a></li>
                <li><a href="astom-martin"><img src="images/paises/es.png">Aston Martin</a></li>
                <li><a href="ferrari"><img src="images/paises/it.png">Ferrari</a></li>
                <li><a href="haas"><img src="images/paises/de.png">Haas</a></li>
                <li><a href="mclaren"><img src="images/paises/fr.png">McLaren</a></li>
                <li><a href="Mercedes"><img src="images/paises/ho.png">Mercedes</a></li>
                <li><a href="redbull"><img src="images/paises/br.png">Red Bull</a></li>
                <li><a href="sauber"><img src="images/paises/uy.png">Sauber</a></li>
                <li><a href="williams"><img src="images/paises/py.png">Williams</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">flag</i> Gran Premios</h3>
            <ul class="items-menu">
                <li><a href="australia">Australia GP</a></li>
                <li><a href="austria">Austria GP</a></li>
                <li><a href="azb">Azerbaijan GP</a></li>
                <li><a href="bahrain">Bahrain GP</a></li>
                <li><a href="belgica">Bélgica GP</a></li>
                <li><a href="saopablo">São Paulo GP</a></li>
                <li><a href="canada">J. Canada GP</a></li>
                <li><a href="china">China GP</a></li>
                <li><a href="italia">Italia GP</a></li>
                <li><a href="emilia-romagna">Emilia Romagna GP</a></li>
                <li><a href="japon">Japón GP</a></li>
                <li><a href="hungria">Hungría GP</a></li>
                <li><a href="mexico">Mexico GP</a></li>
                <li><a href="monaco">Mónaco GP</a></li>
                <li><a href="p-bajos">Países Bajos GP</a></li>
                <li><a href="qatar">Qatar GP</a></li>
                <li><a href="arabia">Arabia Saudita GP</a></li>
                <li><a href="singapur">Singapur GP</a></li>
                <li><a href="espania">España GP</a></li>
                <li><a href="abu-dhabi">Abu Dhabi GP</a></li>
                <li><a href="reino-unido">Reino Unido GP</a></li>
                <li><a href="usa">USA GP</a></li>
                <li><a href="miami">Miami GP</a></li>
                <li><a href="vegas">Las Vegas GP</a></li>  
            </ul>
        </li>
        <br>
        <h4><a href="comunidad"><i class="material-icons md-18">people</i> Comunidad</a></h4>
        <li>
            <h4><a href="prode"><i class="material-icons md-18">casino</i> Prodemios</a></h4>
        </li>
        <li>
            <h4><a href="calendario"><i class="material-icons md-18">calendar_today</i> Calendario</a></h4>
        </li>
        <br>
    </ul>
    <br>
    <div class="botlink">
        <a href="contacto">Contacto</a><br>
    </div>
    <br><br>
    <div class="botlink2">
        <a href="legal.php">Legal</a> -
        <a href="privacidad.php">Privacidad</a>
    </div>
    <br><br>
    Chicana 2024-2024<br>
    <br><br><br>
</div>