<div id="accordian">
    <ul>
        <li>
            <h4><a href="home"><i class="material-icons md-18">home</i>Inicio</a></h4>
        </li>
        <br>
        <li>
            <h3><i class="material-icons md-18">star</i> Destacado</h3>
            <ul class="items-menu">
                <li><a href="conductores">Conductores</a></li>
                <li><a href="GPActual">Campeonato</a></li>
                <li><a href="resultados">Resultados</a></li>
                <li><a href="williams">Williams</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">emoji_events</i> Campeonatos</h3>
            <ul class="items-menu">
                <li><a href="campeonatoConstructores">Constructores</a></li>
                <li><a href="campeonatoConductores">Conductores</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">public</i> Equipos</h3>
            <ul class="items-menu items-menu-equipos">
                <li><a href="https://www.alpine-cars.co.uk/formula-1/f1-team.html" target="_blank"><img src="assets/equipos/alpine.png">Alpine</a></li>
                <li><a href="https://www.astonmartinf1.com/en-GB/" target="_blank"><img src="assets/equipos/aston-martin.png">Aston Martin</a></li>
                <li><a href="https://www.ferrari.com/en-EN/formula1/team" target="_blank"><img src="assets/equipos/ferrari.png">Ferrari</a></li>
                <li><a href="https://www.haasf1team.com/" target="_blank"><img src="assets/equipos/haas.png">Haas</a></li>
                <li><a href="https://www.mclaren.com/racing/" target="_blank"><img src="assets/equipos/mclaren.png">McLaren</a></li>
                <li><a href="https://www.mercedesamgf1.com/" target="_blank"><img src="assets/equipos/mercedes.png">Mercedes</a></li>
                <li><a href="https://www.redbullracing.com/int-en/int-es" target="_blank"><img src="assets/equipos/redbull.png">Red Bull</a></li>
                <li><a href="https://www.sauber-group.com/" target="_blank"><img src="assets/equipos/sauber.png">Sauber</a></li>
                <li><a href="https://www.williamsf1.com/" target="_blank"><img src="assets/equipos/williams.png">Williams</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">flag</i> Gran Premios</h3>
            <ul class="items-menu items-menu-equipos items-menu-paises">
                <li><a href="australia"><img src="assets/paises/australia.png">Australia GP</a></li>
                <li><a href="austria"><img src="assets/paises/austria.png">Austria GP</a></li>
                <li><a href="azb"><img src="assets/paises/azb.png">Azerbaijan GP</a></li>
                <li><a href="bahrain"><img src="assets/paises/bahrain.png">Bahrain GP</a></li>
                <li><a href="belgica"><img src="assets/paises/belgica.png">Bélgica GP</a></li>
                <li><a href="saopablo"><img src="assets/paises/saopablo.png">São Paulo GP</a></li>
                <li><a href="canada"><img src="assets/paises/canada.png">J. Canada GP</a></li>
                <li><a href="china"><img src="assets/paises/china.png">China GP</a></li>
                <li><a href="italia"><img src="assets/paises/italia.png">Italia GP</a></li>
                <li><a href="emilia-romagna"><img src="assets/paises/emlia-romagna.png">Emilia Romagna GP</a></li>
                <li><a href="japon"><img src="assets/paises/japon.png">Japón GP</a></li>
                <li><a href="hungria"><img src="assets/paises/hungria.png">ungría GP</a></li>
                <li><a href="mexico"><img src="assets/paises/mexico.png">Mexico GP</a></li>
                <li><a href="monaco"><img src="assets/paises/monaco.png">Mónaco GP</a></li>
                <li><a href="p-bajos"><img src="assets/paises/p-bajos.png">Países Bajos GP</a></li>
                <li><a href="qatar"><img src="assets/paises/qatar.png">Qatar GP</a></li>
                <li><a href="arabia"><img src="assets/paises/arabia.png">Arabia Saudita GP</a></li>
                <li><a href="singapur"><img src="assets/paises/singapur.png">Singapur GP</a></li>
                <li><a href="espania"><img src="assets/paises/espania.png">España GP</a></li>
                <li><a href="abu-dhabi"><img src="assets/paises/abu-dhabi.png">Abu Dhabi GP</a></li>
                <li><a href="reino-unido"><img src="assets/paises/reino-unido.png">Reino Unido GP</a></li>
                <li><a href="usa"><img src="assets/paises/usa.png">USA GP</a></li>
                <li><a href="miami"><img src="assets/paises/miami.png">Miami GP</a></li>
                <li><a href="vegas"><img src="assets/paises/vegas.png">Las Vegas GP</a></li>  
            </ul>
        </li>
        <br>
        <h4><a href="comunidad"><i class="material-icons md-18">people</i>Comunidad</a></h4>
        <li>
            <h4><a href="calendario"><i class="material-icons md-18">calendar_today</i> Calendario </a></h4>
        </li>
        <br>
    </ul>
    <br>
    <div class="botlink">
        <a href="contacto">Contacto</a><br>
    </div>
    <br><br>
    <div class="botlink2">
        <a href="legal.php">Legal</a> -
        <a href="privacidad.php">Privacidad</a>
    </div>
    <br><br>
    Chicana 2024-2024<br>
    <br><br><br>
</div>