<h2>Lista de Conductores</h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>Posicion</th>
      <th>Conductor</th>
      <th>Equipo</th>
      <th>Puntos</th>
      <th>Victorias</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let standing of standings">
      <td>{{ standing.position }}</td>
      <td>{{ standing.Driver.familyName + standing.Driver.givenName }}</td>
      <td>{{ standing.Constructors.name }}</td>
      <td>{{ standing.points }}</td>
      <td>{{ standing.wins }}</td>
    </tr>
  </tbody>
</table>

<!-- Botones de paginación -->
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage >= totalPages">Siguiente</button>
</div>
