<h2>Campeonato de Conductores</h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>Posicion</th>
      <th>Conductor</th>
      <th>Equipo</th>
      <th>Victorias</th>
      <th>Puntos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let standing of standings">
      <td>{{ standing.position }}</td>
      <td>{{ standing.Driver.givenName + " " + standing.Driver.familyName }}</td>
      <td>
        <a href="{{ standing.Constructors[0].url }}">
          {{ standing.Constructors[0].name }}
        </a>
      </td>
      <td>{{ standing.wins }}</td>
      <td>{{ standing.points }}</td>
    </tr>
  </tbody>
</table>


