<div id="accordian">
    <ul>
        <div class="botonch2">
            <img src="assets/images/menu/login3.png" width="32px"/> <span>Login</span>  <br/> 
        </div>
        <br>
        <li>
            <h4><a href="http://localhost:4200/" class="link-icono"><i class="material-icons md-18">home</i> Inicio</a></h4>
        </li>
        <br>
        <li>
            <h3><i class="material-icons md-18">star</i> Destacado</h3>
            <ul class="items-menu items-l">
                <li><a href="conductores">Conductores</a></li>
                <li><a href="GPActual">Campeonato</a></li>
                <li><a href="resultados">Resultados</a></li>
                <li><a href="williams">Williams</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18" >emoji_events</i> Campeonatos</h3>
            <ul class="items-menu items-l">
                <li><a href="campConstructores">Constructores</a></li>
                <li><a href="campConductors">Conductores</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">public</i> Equipos</h3>
            <ul class="items-menu items-menu-equipos">
                <li><a href="alpine"><img src="assets/images/equipos/alpine.png">   Alpine</a></li>
                <li><a href="aston-martin"><img src="assets/images/equipos/aston-martin.png">   Aston Martin</a></li>
                <li><a href="ferrari"><img src="assets/images/equipos/ferrari.png">   Ferrari</a></li>
                <li><a href="haas"><img src="assets/images/equipos/haas.png">   Haas</a></li>
                <li><a href="mclaren"><img src="assets/images/equipos/mclaren.png">   McLaren</a></li>
                <li><a href="Mercedes"><img src="assets/images/equipos/mercedes.png">   Mercedes</a></li>
                <li><a href="redbull"><img src="assets/images/equipos/redbull.png">   Red Bull</a></li>
                <li><a href="sauber"><img src="assets/images/equipos/sauber.png">   Sauber</a></li>
                <li><a href="williams"><img src="assets/images/equipos/williams.png">   Williams</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-icons md-18">flag</i> Gran Premios</h3>
            <ul class="items-menu items-menu-equipos">
                <li><a href="australia">Australia GP</a></li>
                <li><a href="austria">Austria GP</a></li>
                <li><a href="azb">Azerbaijan GP</a></li>
                <li><a href="bahrain">Bahrain GP</a></li>
                <li><a href="belgica">Bélgica GP</a></li>
                <li><a href="saopablo">São Paulo GP</a></li>
                <li><a href="canada">J. Canada GP</a></li>
                <li><a href="china">China GP</a></li>
                <li><a href="italia">Italia GP</a></li>
                <li><a href="emilia-romagna">Emilia Romagna GP</a></li>
                <li><a href="japon">Japón GP</a></li>
                <li><a href="hungria">Hungría GP</a></li>
                <li><a href="mexico">Mexico GP</a></li>
                <li><a href="monaco">Mónaco GP</a></li>
                <li><a href="p-bajos">Países Bajos GP</a></li>
                <li><a href="qatar">Qatar GP</a></li>
                <li><a href="arabia">Arabia Saudita GP</a></li>
                <li><a href="singapur">Singapur GP</a></li>
                <li><a href="espania">España GP</a></li>
                <li><a href="abu-dhabi">Abu Dhabi GP</a></li>
                <li><a href="reino-unido">Reino Unido GP</a></li>
                <li><a href="usa">USA GP</a></li>
                <li><a href="miami">Miami GP</a></li>
                <li><a href="vegas">Las Vegas GP</a></li>  
            </ul>
        </li>
        <br>
        <h4><a href="comunidad"><i class="material-icons md-18">people</i> Comunidad</a></h4>
        <li>
            <h4><a href="prode"><i class="material-icons md-18">casino</i> Prodemios</a></h4>
        </li>
        <li>
            <h4><a href="calendario"><i class="material-icons md-18">calendar_today</i> Calendario</a></h4>
        </li>
        <br>
    </ul>
    <br>
    <div class="botlink">
        <a href="contacto">Contacto</a><br>
    </div>
    <br><br>
    <div class="botlink2">
        <a href="legal.php">Legal</a> -
        <a href="privacidad.php">Privacidad</a>
    </div>
    <br><br>
    Chicana 2024-2024<br>
    <br><br><br>
</div>