#manejaGP {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: blueviolet;
}

#manejaGP #titulo {
    display: flex;
    width: 100%;
    background: black;
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-shadow: #000 .1em .1em .1em;
    background: black;
    border: 1px solid #000;
    margin-bottom: 1em;
}

#main a {
    color: white;
    text-decoration: none;
    text-align: center;
}